 @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{ margin: 0px; padding: 0px; font-family: 'Poppins'; font-size: 15px;   }
main{ display: flex; width: 80%; margin: 40px auto; column-gap: 30px; border: 1px solid rgba(0,0,0,0.15);    }
.cv-left{ flex: 0.3; border-right: 1px solid rgba(0,0,0,0.05); }
.cv-right{ flex: 0.7;  padding-right: 30px; padding-bottom: 50px;    }
.cv-basic{ background-color: lightgray; color: #000; padding: 24px;  }
.cv-edu{ padding: 24px 24px 0px 24px; margin-bottom: 20px;  }
.cv-skills{ padding: 0px 24px 24px 24px; }
.cv-basic_name{ font-family: 'Merriweather'; font-weight: 700; font-size: 24px; }
.cv-basic_pos{ font-family: 'Merriweather'; font-weight: 500; font-size: 20px; font-style: italic; margin: 10px 0px;    }
.edu-heading, .cv-skills-heading{ font-size: 20px; font-family: 'Merriweather'; font-weight: 700; margin: 5px 0px; text-transform: uppercase; }
.career-object_heading, .work-exper_heading{ font-family: 'Merriweather'; font-weight: 700; font-size: 24px; margin: 24px 0px 10px 0px; text-transform: uppercase; }
.work-exp_heading{ font-size: 24px; margin-top: 15px;    }
.work-exp_time_loc{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;  }
.work-exp_com{ font-size: 20px; }
.exp-work-list ul{ list-style: none; margin-top: 15px;  }
.exp-work-list ul li{ margin-bottom: 10px; text-align: justify;   }
.cv-left{ background-color: rgba(0,0,0,0.025); }
.career-object{ text-align: justify;  }


@media print{
    body {-webkit-print-color-adjust: exact;}
    main{ margin: 0px; width: 100%; column-gap: 20px; border: none; padding: 0px;     }
    .cv-basic{ background-color: lightgray; color: #000; padding: 24px;  }
    .cv-right{ padding-right: 0px; }
    .edu-heading, .cv-skills-heading{ font-size: 18px; }
    .exp-work-list ul li{ margin-bottom: 5px; }
}