@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;500;600;700&family=Merriweather:wght@300;400;700&family=Montserrat:wght@100;500;600;800&family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{ margin: 0px; padding: 0px; font-family: 'Poppins'; }
.cv-persn-name{ font-family: 'Assistant'; font-size: 42px; }
body{ background-color: rgba(0,0,0,0.15); margin: 2% 4%;   }
#cv-sr-fnt{ background-color: #FFF; padding: 5% 7.5%;   }
.cv-persn-des{ color: #00C0F0; font-size: 32px; margin-bottom: 20px;   }
.cv-person-cont{ margin-bottom: 60px; }
.cv-person-cont ul{ list-style: none; display: flex; }
.cv-person-cont ul li{ margin-right: 25px; }
.cv-l-heading-ln{ text-transform: uppercase; font-family: 'Assistant'; font-size: 20px; color: rgba(0,0,0,0.5); border-bottom: 1px solid rgba(0,0,0,0.5); padding-bottom: 5px; margin-bottom: 25px;     }
.summary-para{ margin-bottom: 25px; }
.l-child-heading-f{ font-size: 24px; font-weight: 500;  }
.l-child-heading-f-s{  font-size: 24px; font-weight: 300; color: #00C0F0;}
.l-child-heading-f-t{ margin-bottom: 10px; }
.l-child-heading-f-t ul{ list-style: none; display: flex; }
.l-child-heading-f-t ul li{ margin-right: 15px; }
.cv-exp-work{ margin-bottom: 45px; margin-top: 15px;  }
.cv-exp-work ul{ list-style: none; margin-left: 15px;  }
.cv-exp-work ul li{ margin-bottom: 0px; position: relative; }
.cv-exp-work ul li::after{ content: ""; top: 10px; left: -12px; background-color: rgba(0,0,0,0.75); height: 5px; width: 5px; border-radius: 50%; position: absolute; }
main{ display: flex; justify-content: space-between; column-gap: 70px;  }

.skill-list ul{ list-style: none;  }
.skill-list ul li{ margin-right: 20px;  display: inline-block; font-size: 20px; font-weight: 400; margin-bottom: 15px; border-bottom: 1px solid rgba(0,0,0,0.5);    }
.skill-list{ margin-bottom: 12px; }
.cv-l-sec{ flex: 1.5; }
.cv-r-sec{ flex: 1; }
.cert-H{ margin-top: 40px; }
.edu-h{ margin-top: 20px; }
.cert-h{ color: #00C0F0; font-size: 24px; margin-bottom: 5px  }
.cert-p{ font-size: 18px; }
.cert-div-m{ margin-bottom: 15px; }